<header class="site-header">

  <div class="container txt-center">

    <nav class="navbar">
      <ul>
        <li><a href="{{ "/" | prepend: site.baseurl }}">home</a></li>
        <li class="divider">&bull;</li>
        <li><a href="{{ "/about" | prepend: site.baseurl }}">about</a></li>
        <li class="divider">&bull;</li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="icon icon-feed"></i> feed</a></li>
      </ul>
    </nav>

    <a href="{{ "/" | prepend: site.baseurl }}" class="author-thumb">
      <img src="{{ "/images/author.jpg" | prepend: site.baseurl }}" alt="Author thumbnail" class="dot">
    </a>
    <h1>Hi, I'm wikimo <small>me.each do |devel| … !end.</small></h1>

    <hr class="hr">

  </div>

</header>
